// Theme

$fg-main: #B4BEFE;

$border-main: $fg-main;
$border-alt: $fg-main;

$bg-main: #11111B;
$bg-alt: #191929;
$bg-hover: #484872;
$bg-hover-alt: #30304D;
$bg-tooltip: $bg-main;
$bg-second: #33334C;
$bg-third: #939CDA;

$ply-main: #25253B;
$ply-hover: #363657;
$ply-act: #515181;
$msc-act: #424268;

$wlogout-hover: rgba(37, 37, 68, 0.541);
$wlogout-bg: rgba(17, 17, 17, 0.45);

$border-rad:  0px; // Main border radius
$border-rad2: 0px; // Second
$border-radb: 4px; // Button
$border-rads: 2px; // Scale
