// Theme (Gnome)

$fg-main: #F7F3F7;
$fg-unactive: #928374;

$border-main: #101010;
$border-alt: #101010;

$bg-main: #101010;
$bg-alt: #262626;
$bg-hover: #383838;
$bg-hover-alt: #665c54;
$bg-tooltip: #3c3836;
$bg-second: #504945;
$bg-third: #898888;

$ply-main: #665c54;
$ply-hover: #83A598;
$ply-act: #3C3836;
$msc-act: #b8bb26;

$wlogout-hover: rgba(60, 56, 54, 0.54);
$wlogout-bg: rgba(60, 56, 54, 0.45);
$wlogout-button: rgba(60, 56, 54, 0.78);

$border-rad:  12px; // Main border radius
$border-rad2: 12px; // Second
$border-radb: 30px; // Button
$border-rads: 12px; // Scale
