/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Binary Harbinger
 * ----------------------------------------------------- 
*/

/*Import the theme.css file */
@import "theme.css";

* {
	all: unset; /*Remove the useless GTK theme rules*/
    font-family: "CaskaydiaMono Nerd Font", "JetBrainsMono Nerd Font","Fira Mono";
    font-weight: 900;
    font-size: 12.5px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}


window#waybar {
    background: @bg-main;
    color: @fg-main;
    border: 2px solid @border-main;
    border-radius: 10px;
}

tooltip {
    background: @bg-tooltip;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: @border-main;
}
tooltip label {
    color: @fg-main;
}

/* Custom widget for sway notifications */
#custom-swaync, #custom-mako {
	color: @fg-main;
    background-color: @bg-second;
    min-width: 25px;
    padding: 0px 20px;
    margin-left: 6px;
    margin-right: 12px;
    margin-top: 2px; margin-bottom: 2px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 0px;
    border-radius: 10px;
}

/* Workspaces styling */
#workspaces {
    background-color: @bg-second;
    margin-right: 1.5px;
    margin-left: 1.5px;
    border-radius: 20px;
    border: 0px solid @border-main;
    border-left:0px;border-right: 0px;
    padding: 0px 15px;
    margin: 2px 1.5px;
}
#workspaces button {
    color: @fg-unactive;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 2px 10px;
    margin: 3px 4px;
    background-color: @bg-third;
    border-radius: 10px;
    border-color: @bg-main;
}

#workspaces button.active {
    color: @bg-main;
    border-radius: 8px;
    background: @fg-main;
    padding: 0px 20px;
}
#workspaces button.focused {
    color: @bg-second;
}
#workspaces button.urgent {
    background: rgba(255, 200, 0, 0.35);
    border-bottom: 0px dashed @warning_color;
    color: @warning_color;
}
#workspaces button:hover {
    background: @fg-main;
    color: @bg-main;
}

/* Styling for system info panels like CPU, Disk, Memory */
#cpu, #disk, #memory {
    padding: 3px;
}

/* Window styling */
#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Tray panel styling */
#tray-expander {
    margin: 0px 15px;
    margin-right: 0px;
    border-radius: 0px;
    padding: 0px 5px;
    border-top: 2px solid @border-main;
    border-bottom: 2px solid @border-main;
}

#tray {
    padding: 0px 8px;
}

#tray > .passive {
    border-bottom: none;
}
/*#tray > .active {
    border-bottom: 2px solid white;
}
#tray > .needs-attention {
    border-bottom: 2px solid @warning_color;
}*/
#tray > widget {
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 8px;
    padding: 0px 3px;
}

#tray menu, menu {
    color: @fg-main;
    border: 2px solid @border-main;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: @bg-main;
    padding: 5px 2px;
}

#tray menu > *, menu > * {
	border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    padding: 0px 8px; /* Alt öğeler arasında boşluk */
}

#tray menu > *:hover, menu > *:hover {
	border: 2px solid @border-main;
    background-color: @bg-third2; /* Alt öğe hover arka plan rengi */
    border: 2px solid transparent;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-bottom: 2px solid @fg-main;
}

#tray menu > *:active, menu > *:active {
    background-color: @bg-third2;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Language widget styling */
#language {
    background-color: @bg-main;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid @border-main;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Clock widget styling */
#clock {
    font-family: "JetBrainsMono Nerd Font";
    padding: 0px 6px;
    margin: 2px 8px;
    border-radius: 8px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#clock:hover {
    background-color: @bg-second;
}

/* Bluetooth widget styling */
#bluetooth {
    padding: 0px 10px;
    font-size: 14px;
}

/* Bluetooth widget status colors */
#bluetooth.disabled, #bluetooth.off {
    color: #565858;
}
#bluetooth.on, #bluetooth.connected {
    color: #6f7dd8;
}

/* Sway notification custom widget and other widgets */
#custom-swaync, #custom-mako, #network, #pulseaudio {
    font-size: 20px;
    padding: 0px 8px;
}

#network, #pulseaudio {
    padding: 0px 10px;
    padding-right: 15px;
}

#custom-swaync, #custom-mako {
    padding-right: 13px; 
}


/* Power profile daemon widget styling */
#power-profiles-daemon {
    background-color: @bg-main;
    color: @fg-main;
    padding: 0px 5px;
    padding-left: 10px;
    margin: 2px 6px;
    margin-left: 14px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Styling for memory, search, os button, etc. */
#controlCenter, #hardware, #customs, #mpris, #custom-cafein, #cava, #custom-expand-icon, #custom-updates {
    font-family: "Symbols Nerd Font", "CaskaydiaMono Nerd Font";
    background-color: @bg-second;
    font-weight: bold;
    border-radius: 16px;
    padding: 0px 10px 0px 10px;
    border: 0px solid @border-main;
    border-left:0px;border-right:0px;
    border-radius: 15px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 2px;
}

#custom-search {
    margin-left: 5px;
}

#mpris {
	padding: 0px;
    margin: 2px 8px; 
	min-width: 90px;
}

#mpris.paused {
	color: @bg-third;
}

/* Hover effect for bar elements */
#power-profiles-daemon:hover, #custom-swaync:hover, #custom-mako:hover, #tray > widget:hover,#custom-search:hover, #custom-os_button:hover, #custom-runner:hover, #mpris:hover, #custom-cafein:hover, #memory:hover, #cpu:hover {
    background-color: @fg-unactive;
}

/* Bluetooth, network, pulseaudio icon size adjustment */
#bluetooth, #network, #pulseaudio, #backlight {
    font-size: 15px; /* Decrease icon size */
}

#pulseaudio, #network, #battery, #backlight {
    padding: 0px 5px;
    font-size: 15px;
}

#controlCenter:hover {
    background-color: @fg-unactive;
}

#customs {
    margin: 2px 6px;
    margin-left: 12px;
    background-color: @bg-second; 
    padding: 0px 10px;
}

/* Memory and CPU */

#hardware {
    margin: 2px 6px;
    background-color: @bg-second; 
    padding: 0px 10px;
}

#cpu, #memory, #custom-search, #custom-os_button, #custom-runner {
    border-radius: 15px;
    padding: 4px;
    margin: 0px 2px;
}

#custom-search, #custom-os_button, #custom-runner {
    padding-left: 8px;
}

#custom-updates.green:hover {
    background: @fg-unactive;
}

#custom-updates.green {
    background-color: @bg-second;
}

#custom-updates.yellow {
    background-color: @tertiary;
    color: @on_tertiary;
}

#custom-updates.red {
    background-color: @error;
    color: @on_error;
}

#custom-cava.Playing {
    background: rgb(137, 180, 250);
    background: radial-gradient(circle, rgba(137, 180, 250, 120) 0%, rgba(142, 179, 250, 120) 6%, rgba(148, 226, 213, 1) 14%, rgba(147, 178, 250, 1) 14%, rgba(155, 176, 249, 1) 18%, rgba(245, 194, 231, 1) 28%, rgba(158, 175, 249, 1) 28%, rgba(181, 170, 248, 1) 58%, rgba(205, 214,24,1) 69%, rgba(186, 169, 248, 1) 69%, rgba(195, 167, 247, 1) 72%, rgba(137, 220, 235, 1) 73%, rgba(198, 167, 247, 1) 78%, rgba(203, 166, 247, 1) 100%);
    background-size: 400% 400%;
    animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
    font-weight: bold;
    color: #fff;
}

#custom-cava.Paused, #custom-cava.Stopped {
    background: #161925;
}
