/*
 * __        __          _                  ____  _         _       
 * \ \      / /_ _ _   _| |__   __ _ _ __  / ___|| |_ _   _| | ___  
 *  \ \ /\ / / _` | | | | '_ \ / _` | '__| \___ \| __| | | | |/ _ \ 
 *   \ V  V / (_| | |_| | |_) | (_| | |     ___) | |_| |_| | |  __/ 
 *    \_/\_/ \__,_|\__, |_.__/ \__,_|_|    |____/ \__|\__, |_|\___| 
 *                 |___/                              |___/         
 *  
 * by Binary Harbinger
 * ----------------------------------------------------- 
*/

/*Import the theme.css file */
@import "theme.css";

* {
	all: unset; /*Remove the useless GTK theme rules*/
    font-family: "Ubuntu Nerd Font";
    font-weight: 900;
    font-size: 13px;
    border-radius: 12px;
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

window#waybar {
    background: @bg-main;
    color: @fg-main;
    border-radius: 0px;
}

tooltip {
    background: @bg-tooltip;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: @border-main;
}
tooltip label {
    color: @fg-main;
}

/* Custom widget for sway notifications */
#custom-swaync, #custom-mako {
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 0px;
    color: @fg-main;
    background-color: @bg-main;
    min-width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid @bg-main;
}

/* Workspaces styling */
#workspaces {
    font-size: 0px;
    color: transparent;
    margin-right: 1.5px;
    border: 0px solid transparent ;
    background-color: transparent;
    padding: 3px 10px;
}

#workspaces button {
    color: transparent;
    padding: 0px 10px;
    margin: 6px 8px;
    border-radius: 60px;
    background-color: @fg-unactive;
    border-color: transparent;
}

#workspaces button.active {
    background-color: @fg-main;
    padding: 0px 18px;
}

#workspaces button:hover {
    background: @bg-hover;
    color: transparent;
}

/* Styling for system info panels like CPU, Disk, Memory */
#cpu, #disk, #memory {
    padding: 3px;
}

/* Window styling */
#window {
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Tray panel styling */
#tray {
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid @bg-main;
    padding: 0px 10px;
    margin-right: 20px;
    background-color: @bg-main;
}
#tray > .passive {
    border-bottom: none;
}

#tray > widget {
    padding: 0px 3px;
}

#tray menu, menu {
	font-family: "JetBrainsMono Nerd Font";
    border: 2px solid @border-main;
    background-color: @bg-main;
    padding: 5px 2px;
}

#tray menu > *, menu > * {
    color: @fg-main;
    padding: 2px 6px; 
}

#tray menu > *:hover, menu > *:hover {
    background-color: @bg-third; 
}

#tray menu > *:active, menu > *:active {
    background-color: @bg-third2;
}

/* Language widget styling */
#language {
    background-color: @bg-main;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid @border-main;
    border-left: 0px;
    border-right: 0px;
}

/* Bluetooth widget styling */
#bluetooth {
    padding: 0px 10px;
    font-size: 12px;
    font-family: "Fira Code";
}

/* Bluetooth widget status colors */
#bluetooth.disabled, #bluetooth.off {
    color: #565858;
}
#bluetooth.on, #bluetooth.connected {
    color: #6f7dd8;
}

/* Sway notification custom widget and other widgets */
#custom-swaync, #custom-mako {
    font-size: 18px;
    padding: 0px 8px;
    padding-right: 13px; 
}

/* Power profile daemon widget styling */
#power-profiles-daemon {
    background-color: @bg-main;
    color: @fg-main;
    padding: 0px 5px;
    padding-left: 10px;
    font-size: 13px;
    margin: 2px 6px;
}

/* Styling for memory, search, os button, etc. */
#cpu, #memory, #custom-search, #custom-os_button, #custom-runner, #custom-expand-icon, #mpris, #custom-cafein, #cava, #clock {
    background-color: @bg-main;
    font-weight: lighter;
    padding: 0px 9px;
    border: 0px solid @border-main;
}

#mpris {
	padding: 0px;
    margin: 0px 8px;
	min-width: 90px;
}

#mpris.paused {
	color: @bg-third;
}

/* Hover effect for bar elements */
#custom-swaync:hover, #custom-mako:hover, #tray > widget:hover,#custom-search:hover, #custom-os_button:hover, #custom-runner:hover, #mpris:hover, #custom-cafein:hover, #clock:hover, #power-profiles-daemon:hover{
    background-color: @bg-hover;
}

/* Bluetooth, network, pulseaudio icon size adjustment */
#bluetooth {
    font-size: 15px; /* Decrease icon size */
}

#leftSide {
    border: 2px solid @border-main;
    border-radius: 10px;
    margin: 0px 10px;
    background-color: @bg-main;
    padding: 0px 10px;
}


/* Right Side */

#rightSide {
    border: 2px solid @border-main;
    margin: 0px 10px;
    background-color: @bg-main;
    padding: 0px 10px;
    padding-left: 2px;
}

#clock {
    font-size: 13px;
    padding: 0px 6px;
    margin: 0px 0px;
}

/* Control Center*/

#controlCenter {
    background-color: @bg-main;
    padding: 0px 8px;
    margin: 0px 10px;
}

#controlCenter:hover {
    background-color: @bg-hover;
}

#network, #pulseaudio, #battery, #backlight {
    padding: 0px 6px;
    font-size: 15px;
}
