
/* Base border color*/
@define-color border-main @fg-main;
@define-color border-alt @fg-main;

/* Background Colors */
@define-color bg-main #1e1e2e;
@define-color bg-alt #313244;
@define-color bg-hover #45475a;
@define-color bg-hover-alt #585b70;
@define-color bg-tooltip @bg-main;
@define-color bg-second #33334C;
@define-color bg-third #b4befe;
@define-color sway-bg @bg-main;

/*text color for entries, views and content in general */
@define-color fg-main #cdd6f4;
@define-color fg-unactive @bg-hover;
@define-color content-act #CDD4FF;


/* Player colors */
@define-color ply-main #25253B;
@define-color ply-hover #363657;
@define-color ply-act #45475a;
@define-color msc-act #585b70;

/* Wlogout */

@define-color wlogout-hover rgba(37, 37, 68, 0.541);
@define-color wlogout-bg rgba(17, 17, 17, 0.45);
@define-color wlogout-button rgba(17, 17, 27, 0.781);

/* Alert Colours */
@define-color tertiary #f9e2af;
@define-color on_tertiary #fab387;
@define-color error #eba0ac;
@define-color on_error #f38ba8
;
