spawn-at-startup "bash" "-c" "awww-daemon"
spawn-sh-at-startup "~/.config/niri/scripts/widgets.sh s"
spawn-at-startup "bash" "-c" "waybar"
spawn-at-startup "bash" "-c" "mako"
spawn-sh-at-startup "bash" "~/.config/mako/scripts/logger.sh"
spawn-sh-at-startup "bash" "-c" "sleep 5 && ~/.config/niri/scripts/OSD.sh"
spawn-sh-at-startup "bash" "~/.config/niri/scripts/bOSD.sh"
spawn-at-startup "wl-paste" "--type text --watch cliphist store"
spawn-at-startup "wl-paste" "--type image --watch cliphist store"
spawn-at-startup "udiskie"
spawn-at-startup "blueman-applet &"
spawn-at-startup "awww" "img ~/.config/niri/wallppr.png --transition-fps 60 --transition-step 255 --transition-type any"

spawn-at-startup "mpdris2-rs" "-h"
spawn-at-startup "tuxedo-control-center --tray"
