layer-rule {
    match namespace="^nofications$"
    block-out-from "screen-capture"
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^(kitty|thunar|discord|vesktop|org\.gnome\.Nautilus|nemo)$"#
    opacity 0.94
}

window-rule {
    match app-id=r#"org.kde.polkit-kde-authentication-agent-1"#
    block-out-from "screen-capture"
}

window-rule {
    match app-id=r#"^(zen|dev\.zed\.Zed|chromium)$"#
    opacity 0.98
    default-column-width { proportion 0.9; }
}

window-rule {
    match app-id=r#"^(steam)"
    opacity 0.95
}

window-rule {
    match app-id=r#"^(wiremix|Update|btop)$"
    match title=r#"^foot$"

    open-floating true
    open-focused true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id=r#"^(com\.network\.manager)$"

    open-floating true
    open-focused true
    default-column-width { fixed 450; }
    default-window-height { fixed 600; }
}
