@use "theme" as c;


* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-weight: 600;
  font-family: "CaskaydiaMono Nerd Font";
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.random {
  all: unset;
}

/*/// === Bar ===
.bar {
  background-color: c.$bg-main;
  color: white;
  padding: 0px 0px 0px 0px;
  border: 2px solid c.$border-main;
}

.bar_container {
  margin: 0px 2px;
  border-radius: 12px;
  border: 2px solid c.$border-main;
  background-color: c.$bg-main;
}

.custom-buttons, .mpris {
  color: c.$fg-main;
  padding: 0px 10px;
  margin: 0px 3px;
  border-radiu: c.$border-radb;
}

.custom-buttons:hover, .mpris:hover {
  background-color: c.$bg-hover;
}

.mpris (
  margin: 0px 8px;
)

.spacer {
  padding: 0px 10px;
}

.workspace-button, .workspace-active {
  font-size: 12.5px;
  border-radius: c.$border-rad;
  color: c.$bg-main; 
  background-color: c.$bg-third;
  padding: 2px 10px;
  margin: 3px 4px;
}

.workspace-button:hover {
  background-color: c.$bg-hover-alt;
}

.workspace-active, .workspace-active:hover {
  color: c.$bg-main;
  background-color: c.$fg-main;
  padding: 2px 20px;
}
*/
// Styles on classes (see eww.yuck for more information)

.window_style {
  all: unset;
  border: 2px solid c.$border-main;
  background-color: c.$bg-main;
}

.meters, .music, .connectivity{
  background-color: c.$bg-alt;
  border-radius: 50px;
  padding: 0px 11px;
  margin: 5px 0px;
  min-height: 30px;
  font-weight: 500;
}

.quick-center-content{
  border: solid 2px c.$border-alt;
  background-color: c.$bg-main;
  border-radius: c.$border-rad;
  padding: 10px;
}

.top-center {
  all: unset;
  margin: 3px;
}

.middle-center{
  margin-top: 10px;
  min-width: 230px;
  border-radius: c.$border-rad2;
  padding: 8px;
  background-color: c.$bg-alt;
}
.bottom-center{
  margin-top: 10px;
  min-width: 230px;
  padding: 10px 16px;
  background-color: c.$bg-alt;
  border-radius: c.$border-rad2;
}

.pfp, .musicart, .musicartdesk {
  min-width: 80px;
  min-height: 80px;
  border-radius: c.$border-rad;
  background-size: cover;
  background-position: center;
}

.pfp {
  margin: 5px;
}

.musicartdesk {
  min-width: 260px;
  min-height: 260px;
  border: 3px solid c.$bg-hover-alt;
  margin:  0px 10px;
  margin-bottom: 15px;
}

.statuslabel {
  color: c.$fg-main;
  font-size: 18px;
  padding: 0px 15px 0px 5px;
}

.centerscale, .statusscale {
  background-color: c.$bg-hover-alt;
  border-radius: c.$border-rads;
  min-width: 230px;
  margin: 8px 10px;
  
   slider {
    background-color: transparent;
    border-radius: c.$border-rads;
    min-width: 7px;
    min-height: 7px;
  }

  highlight {
      background-color: c.$fg-main;
      border-radius: c.$border-rads;
    }

}

.musicscale {
  background-color: c.$bg-hover-alt;
  border-radius: c.$border-rads;
  min-width: 110px;
  margin: 8px 10px;
  
   slider {
    background-color: c.$bg-hover;
    border-radius: c.$border-rads;
    min-width: 5px;
    min-height: 5px;
    box-shadow: 0 0 4px rgba(c.$bg-hover,0.5);
  }

  highlight {
      background-color: c.$fg-main;
      border-radius: c.$border-rads;
    }

}

.button-active, .button, .button-box{
  min-width: 50px;
  min-height: 50px;
  margin: 5px 5px;
  background-color: c.$bg-main;
  border-radius: c.$border-radb;
  font-size: 20px;
  color: c.$fg-main;
  transition: 0.3s;
}

.button:hover, .button-active:hover {
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 0.1);
  background-color: c.$bg-hover-alt;
  color: c.$fg-main;
  color: c.$bg-main;
}

.button-active {
  background-color: c.$fg-main;
  color: c.$bg-main;
}

.statbutton, .statbuttondis{
  min-width: 10px;
  min-height: 10px;
  background-color: c.$bg-main;
  border-radius: c.$border-radb;
  font-size: 20px;
  color: c.$fg-main;
  transition: 0.3s;
}

.musiccenter{
  border-radius: c.$border-rad;
  border: 2px solid c.$border-alt;
  background-color: c.$bg-main;
  padding: 10px 10px 5px 10px;
  color:white;
}

.desktopmusic{
  border-radius: c.$border-rad;
  border: 2px solid c.$border-main;
  background-color: c.$bg-main;
  padding: 10px 10px 5px 10px;
  color:white;
  padding: 10px;
  padding-top: 20px;
}

.musiccontrols{
  background-color: c.$bg-alt;
  min-width: 170px;
  padding: 5px 20px;
  margin: 3px 5px;
  border-radius: c.$border-radb;
}


.musicbutton, .playbutton, .musicbutton2, .musicbutton2dis{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 21px;
  padding: 2px 10px;
  border-radius: calc(c.$border-rad /1);
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.playbutton {
  background-color: c.$ply-main;
  border: 3px solid c.$fg-main;
}

.playbutton:hover {
  background-color: c.$ply-hover;
}
.playbutton:active{
  background-color: c.$ply-act;
}

.musicbutton:hover, .musicbutton2:hover, .musicbutton2dis:hover{
  background-color: c.$ply-main;  
}

.musicbutton:active, .musicbutton2:active, .musicbutton2dis:active{
  background-color: c.$msc-act;
}

.musicbutton2, .musicbutton2dis {
  padding-right: 3px;
}

.musicbutton2dis {
  color: rgb(172, 172, 172);
}

.musictitle{
  font-family: "CaskaydiaMono Nerd Font","Fira Code";
  margin-top: 5px;
  font-size:13px;
  font-weight: 800;
}

.musicscale {
  background-color: c.$bg-hover-alt;
  border-radius: c.$border-rads;
  min-width: 110px;
  margin: 8px 10px;
  
   slider {
    background-color: c.$bg-hover;
    border-radius: 50%;
    min-width: 5px;
    min-height: 5px;
    box-shadow: 0 0 4px rgba(c.$bg-hover,0.5);
  }

  highlight {
      background-color: c.$fg-main;
      border-radius: c.$border-rads;
    }

}

.musicart{
  border: 1px solid c.$border-main;
  background-image: unset;
  margin: 0px 0px;
  padding: 0px 20px;
}

.volumewidget{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: c.$border-rad;
}

.volumeButton{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: c.$border-rad;
}

.volumewidgetsc{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 10px;
  border: 0px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: c.$border-rad;
}

.summary{
  font-size: 20px;
  font-weight: 700;
}

.status {
  background-color: c.$bg-main;
  margin: 0px;
  padding: 0px;
  border-radius: c.$border-rad;
  border: 2px solid c.$border-main;
}

.activate-linux {
  color: rgba(250, 250, 250, 0.8);

  &.background {
    background: none;
  }
}

.deskclock  {
  font-size: 170px;
  color: c.$fg-main;
  padding: 0px 4px;
  text-shadow: 5px 3px 1px c.$bg-main ;
  border: 0px solid c.$border-main;
}

.clock-text {

  font-size: 130px;
  color: c.$fg-main;
  padding: 0px 3px;
  text-shadow: 5px 3px 1px c.$ply-act ;
}

.OSD{
  margin-top: 0px;
  min-width: 200px;
  font-size: 20px;
  padding: 15px 10px;
  border: 2px solid c.$border-main;
  background-color: c.$bg-alt;
  border-radius: c.$border-rad;
}

calendar {
  background: c.$bg-alt;
  font-size: 15px;
  padding: 2px 5px;
  border: 2px solid c.$border-main;
  border-radius: c.$border-rad;

  &.view {

  }

  header {
    border: 0;
    margin: 2px;
    margin-top: 5px;
    padding: 3px;
    background-color: c.$bg-main;
    border-radius: calc(c.$border-radb /2);

    label.year {
      color: c.$fg-main;
      font-weight: bold;
    }

    .stack.month {
      label {
        color: c.$fg-main;
        font-weight: bold;
      }
    }

    button {
      background-color: mix(c.$bg-main, c.$bg-hover, 90%);
      color: c.$fg-main;
      border-radius: calc(c.$border-radb /2);

      &:hover {
        color: mix(c.$fg-main, c.$bg-main, 10%);
        background-color: c.$bg-hover;
      }

      &:disabled {
        color: c.$fg-main;
      }
    }
  }

  grid {
    background: c.$bg-main;
    border-radius: 5px;
    margin: 2px;
    margin-bottom: 5px;
    padding: 3px;

    label.day-name {
      color: c.$fg-main;
      font-weight: 600;
    }

    label.day-number {
      color: c.$fg-main;
      border-radius: calc(c.$border-rad/2);
      padding: 0px 3px;
      margin: 3px 3px;
      transition: background 100ms ease;

      &:hover {
        background: c.$bg-hover-alt;
        color: c.$bg-main;
      }

      &.today {
        border: 1px solid c.$fg-main;
        font-weight: bold;
      }

      &.other-month {
        color: mix(c.$fg-main, c.$bg-main, 40%);
      }

      &:selected {
        color: c.$bg-main;
        background: c.$fg-main;
      }

      &:indeterminate {
        color: c.$fg-main;
      }
    }

    label.week-number {
      color: c.$fg-main;
      opacity: 0.7;
    }
  }
}
